altgraph==0.17.4
certifi==2025.1.31
distlib==0.3.9
et-xmlfile==1.1.0
filelock==3.12.2
importlib-metadata==6.7.0
openpyxl==3.0.10
packaging==24.0
pefile==2024.8.26
pipenv==2023.10.3
platformdirs==4.0.0
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2024.7
pywin32-ctypes==0.2.3
TestLink-API-Python-client==0.8.1
typing_extensions==4.7.1
virtualenv==20.26.6
zipp==3.15.0